<div class="content coins-container" lazy-load="dashboardCtrl.loadMoreRecords()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10" ng-if="dashboardCtrl.showProgressBar">
              <div class="row">
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active"
                       role="progressbar"
                       aria-valuenow="{{dashboardCtrl.progressCompletion}}"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width:{{dashboardCtrl.progressCompletion}}%;height:2px;color: #000;">
                    {{dashboardCtrl.progressCompletion}}% Complete ({{dashboardCtrl.progressMessage}})
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="col-lg-12 col-xs-12 col-sm-12">
              <div class="row">
                <div id="filter-panel" class="collapse filter-panel col-lg-12 col-xs-12 col-sm-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form class="form-inline" role="form" ng-submit="dashboardCtrl.applyFilter()">
                        <div class="form-group">
                          <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                              <label>
                                <input type="checkbox"
                                       class="checkbox"
                                       ng-model="dashboardCtrl.showIndianCoinsCheckBox"> Show only Indian coins
                              </label>
                          </div>
                          <button type="submit" class="btn btn-default filter-col"
                                  data-toggle="tooltip" data-placement="bottom" title="Apply filters">
                              <span class="fa fa-send"></span> Apply
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xs-12 col-sm-12">
                  <div class="row">
                    <div class="col-lg-1 col-xs-2 col-sm-1">
                      <button type="button" class="btn btn-info btn-fill"
                              data-toggle="collapse" data-target="#filter-panel"
                              data-toggle="tooltip" data-placement="bottom" title="Filter options">
                          <span class="fa fa-filter"></span>
                      </button>
                    </div>
                    <div class="col-lg-1 col-xs-2 col-sm-1">
                      <button type="button"
                              class="btn btn-info btn-fill"
                              ng-click="dashboardCtrl.toggleViewToTabular(true)"
                              data-toggle="tooltip" data-placement="bottom" title="Switch to tabular view">
                          <span class="fa fa-table"></span>
                      </button>
                    </div>
                    <div class="col-lg-1 col-xs-2 col-sm-1">
                      <button type="button"
                              class="btn btn-info btn-fill"
                              ng-click="dashboardCtrl.toggleViewToTabular(false)"
                              data-toggle="tooltip" data-placement="bottom" title="Switch to comfortable view">
                          <span class="ti-layout-grid2"></span>
                      </button>
                    </div>
                    <div class="col-lg-9 col-xs-6 col-sm-9">
                        <input type="text" class="form-control search-box" id="inputValidation"
                               placeholder="Search" ng-model="dashboardCtrl.searchText"
                               ng-keyup="dashboardCtrl.updateSearchRecordsNumber()"/>
                        <span class="ti-search form-control-feedback"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/><br/>
            <div class="col-lg-6 col-sm-6"
                 ng-hide="dashboardCtrl.showTabularView">
                <a ng-href="/details/{{'bitcoin'}}/{{'bitcoin'}}">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger">
                                        <i class="cc BTC"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>
                                          <i ng-if="dashboardCtrl.priceDiffMap['bitcoin'] == 1"
                                             class="fa fa-caret-up crypto-bg-up-caret blink">
                                          </i>
                                          <i ng-if="dashboardCtrl.priceDiffMap['bitcoin'] == -1"
                                             class="fa fa-caret-down crypto-bg-down-caret blink">
                                          </i>
                                          Bitcoin
                                        </p>
                                          {{dashboardCtrl.preferredCurrencySymbol}} {{dashboardCtrl.bitcoinPrice | convertToPreferredCurrency:dashboardCtrl.currencyConversionRate}}
                                        <p>
                                          <i ng-if="('percent_change_1h' | upDownOrStable:dashboardCtrl.bitcoinLastHour) == 'up'"
                                               class="fa fa-caret-up crypto-bg-up-caret">
                                          </i>
                                          <i ng-if="('percent_change_1h' | upDownOrStable:dashboardCtrl.bitcoinLastHour) == 'down'"
                                             class="fa fa-caret-down crypto-bg-down-caret">
                                          </i>
                                          Last hour
                                        </p>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="fa fa-circle-o faa-burst animated"></i> Real time
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6"
                 ng-hide="dashboardCtrl.showTabularView">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>
                                      <i ng-if="dashboardCtrl.zebpayDiff == 1"
                                         class="fa fa-caret-up crypto-bg-up-caret blink">
                                      </i>
                                      <i ng-if="dashboardCtrl.zebpayDiff == -1"
                                         class="fa fa-caret-down crypto-bg-down-caret blink">
                                      </i>
                                      Zebpay (Bitcoin Wallet)
                                    </p>
                                    {{dashboardCtrl.preferredCurrencySymbol}} {{dashboardCtrl.zebpayPrice | convertToPreferredCurrency:dashboardCtrl.currencyConversionRate}}
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Commision</p>
                                    {{dashboardCtrl.preferredCurrencySymbol}} {{dashboardCtrl.zebpayCommision}}
                                    ({{dashboardCtrl.zebpayCommisionPerc}}%)
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="fa fa-circle-o faa-burst animated"></i> Updating every second
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center" ng-if="dashboardCtrl.showSpinner">
              <div class="card">
                <div class="content">
                    <div class="row">
                      <i class="fa fa-refresh fa-spin fa-4x fa-fw icon-bigger"></i>
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
              </div>
            </div>
            <br/>

            <!-- This container has tiles UI. -->
            <div class="col-lg-3 col-xs-6 col-sm-3"
                 ng-repeat="data in dashboardCtrl.allCoinsData | filter:dashboardCtrl.searchText"
                 ng-if="dashboardCtrl.showAltcoinsOrNot(data.id) && data.id != 'bitcoin'"
                 ng-hide="dashboardCtrl.showTabularView">
                <a ng-href="/details/{{data.id}}/{{data.symbol}}">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="cc {{data.symbol}}"></i>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="numbers">
                                        <p>
                                          <i ng-if="dashboardCtrl.priceDiffMap[data.id] == 1"
                                             class="fa fa-caret-up crypto-bg-up-caret blink">
                                          </i>
                                          <i ng-if="dashboardCtrl.priceDiffMap[data.id] == -1"
                                             class="fa fa-caret-down crypto-bg-down-caret blink">
                                          </i>
                                          <i ng-if="dashboardCtrl.priceDiffMap[data.id] == 0"
                                             class="fa fa-spinner fa-spin">
                                          </i>
                                          {{data.name | formatNames}}
                                        </p>
                                        {{dashboardCtrl.preferredCurrencySymbol}} {{data.price_inr | convertToPreferredCurrency:dashboardCtrl.currencyConversionRate}}
                                        <p>
                                          <i ng-if="('percent_change_1h' | upDownOrStable:data.percent_change_1h) == 'up'"
                                               class="fa fa-caret-up crypto-bg-up-caret">
                                          </i>
                                          <i ng-if="('percent_change_1h' | upDownOrStable:data.percent_change_1h) == 'down'"
                                             class="fa fa-caret-down crypto-bg-down-caret">
                                          </i>
                                          Last hour
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats {{data.symbol}}">
                                  <i class="fa fa-circle-o faa-burst animated"></i> Real time
                                  <!-- <star-rating ng-model="dashboardCtrl.rating[data.id]"
                                               readonly="true">
                                  </star-rating> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
              </div>

              <!-- This container has tabular UI. -->
              <div class="col-lg-12 col-sm-5 content table-responsive table-full-width"
                   ng-show="dashboardCtrl.showTabularView">
                <table id="coin_table"
                       class="table table-striped">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Name</th>
                      <th>Symbol</th>
                      <th>Price</th>
                      <!-- <th>Rating</th> -->
                      <th>Last Hour</th>
                      <th>
                        <i class="fa fa-circle-o faa-burst animated"></i>
                        Live
                      </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr ng-repeat="data in dashboardCtrl.allCoinsData | filter:dashboardCtrl.searchText"
                        ng-if="dashboardCtrl.showAltcoinsOrNot(data.id)">
                      <td>{{data.rank}}</td>
                      <td>
                        <div class="icon-small icon-danger text-center">
                          <a ng-href="/details/{{data.id}}/{{data.symbol}}">
                            <i class="cc {{data.symbol}}"></i>
                            {{data.name}}
                          </a>
                        </div>
                      </td>
                      <td>{{data.symbol}}</td>
                      <td>₹ {{data.price_inr}}</td>
                      <!-- <td>
                        <star-rating ng-model="dashboardCtrl.rating[data.id]"
                                     readonly="true">
                        </star-rating>
                      </td> -->
                      <td class="crypto-bg-{{('percent_change_1h' | upDownOrStable:data.percent_change_1h)}}">  {{data.percent_change_1h}} %
                      </td>
                      <td>
                        <i ng-if="dashboardCtrl.priceDiffMap[data.id] == 1"
                           class="fa fa-caret-up crypto-bg-up-caret blink">
                        </i>
                        <i ng-if="dashboardCtrl.priceDiffMap[data.id] == -1"
                           class="fa fa-caret-down crypto-bg-down-caret blink">
                        </i>
                        <i ng-if="dashboardCtrl.priceDiffMap[data.id] == 0"
                           class="fa fa-spinner fa-spin">
                        </i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-lg-12 text-center"
                   ng-hide="dashboardCtrl.loadedMore">
                   Loading more...
              </div>
        </div>
    </div>

  <crypto-footer></crypto-footer>
</div>
